/* *{border: 1px solid red;} */
body{
    background-image: url("img/b.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}

.address{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.nav a{
    color: #fff;
    text-decoration: none;
    position: relative;
    left:200px;
}

.al{
    word-spacing: 40px;
    font-size: 18px;
}

.content{
    color: #fff;
    padding-top: 10%;
}
.ex{
    font-size: 30px;
}

.wonder{
    font-size: 40px;
    font-weight: bold;
}

.cont{
    border-radius: 20px;
    border: 1px solid rgb(235, 45, 146) ;
    padding: 5px 10px 10px;
    margin-top: -5px;
    background:rgb(235, 45, 146);
}

.cont:hover{
    background-color: transparent;
    font-size: 20px;
}

.butt>button{
    width: 15%;
    height: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    border-radius: 100px;
    outline: none;
    background:rgb(222, 42, 171);
}

i{
    font-size: 60px;
}

.section{
    background: #fff;
    margin-top: 30px;
    width:100%;
    height: 600px;
}
.cards>.head{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.cards{
    width: 0%;
    height: 100%;
   
}

.com{
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}


.card1{
    width: 40%;
    height: 70%;
    text-align: center;
}

.card1>img{
    width: 100%;
    height: 60%;
    
}

.card2{
    width: 40%;
    height: 70%;
    text-align: center;

}

.card2>img{
    width: 100%;
    height: 60%;
}

.card1:hover{
    box-shadow: 0.7px 0.7px 7px #8d8d8d;
}

.card2:hover{
    box-shadow: 0.7px 0.7px 7px #8d8d8d;
}